pip==10.0.1
numpy==1.15.4
pandas==0.23.0
matplotlib==3.0.3
jsonschema==2.6.0
basemap==1.2.0
basemap-data-hires==1.2.0
boto==2.48.0
botocore==1.12.169
boto3==1.9.146
awscli==1.16.179
geographiclib==1.49
tensorflow==1.15.4
tensorflow-estimator==1.13.0
tensorflow-serving-api==1.13.0
Keras==2.2.4
gym==0.12.5
ffmpeg==4.0
